{% extends "base.html" %}

{% block content %}
  <h1>Title: {{ page.props.book.title }}</h1>

  <p><strong>Author:</strong> <a href="{{ page.props.book.author.get_absolute_url }}">{{ page.props.book.author }}</a></p>
  <p><strong>Summary:</strong> {{ page.props.book.summary }}</p>
  <p><strong>ISBN:</strong> {{ page.props.book.isbn }}</p>
  <p><strong>Language:</strong> {{ page.props.book.language }}</p>
  <p><strong>Genre:</strong> {{ page.props.book.genre.all|join:", " }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in page.props.book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
        {{ copy.get_status_display }}
      </p>
      {% if copy.status != 'a' %}
        <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    {% endfor %}
  </div>
{% endblock %}
